
@font-face {
  font-family: 'Righteous-Regular';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Righteous-Regular.ttf') format('truetype');
}

.logo{
  font-family: 'Righteous-Regular' !important;
  font-size:20px !important;
  color: #467ab7 !important;
}

.footer-logo{
  font-family: 'Righteous-Regular' !important;
  font-size:18px !important;
}

.form-login{
  width:300px;
  margin:0 auto;
  margin-top:2%;
}

.form-select{
  width:300px;
  margin-left:20px;
}

#promotional-title{
  font-size:40px !important;
  font-family: 'Righteous-Regular' !important;
}

#promotional-desc{
  font-size:18px !important;
}

.top-page-title{
  font-size:20px !important;
}

.muted-text-search{
  font-size:18px !important;
}

.footer-div{
    margin-top:30px;
}

.master-container{
  min-height: 480px !important;
}
